/* Este arquivo pode conter resets ou fontes globais */
body {
  margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #f4f7f6; /* Cor de fundo base */
   line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove list-style padrão */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Remove margem padrão de títulos e parágrafos (ajuste se necessário) */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}